/* Root */
.calendar {
  width: 10.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header,
.header > .arrow-switcher,
.days-header,
.week {
  display: flex;
  flex-direction: row;
}

/* Header - month/year switcher button, arrow buttons */
.header {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

/* Days header, week, days */
.days-header,
.week {
  width: 100%;
  justify-content: flex-start;
}
.days-header > .day-label,
.week > .day {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  text-align: center;
  position: relative;
}

/* Year picker */
.calendar .year-picker {
  /* Hide scrollbar on firefox */
  scrollbar-width: none;
}
.calendar .year-picker::-webkit-scrollbar {
  /* Hide scrollbar on Chrome, Safari */
  display: none;
}
.calendar .year-picker .year-picker-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.calendar .year-picker .year-picker-row > .year-button {
  flex: 1;
}
