.calendar {
  --button-color: rgba(0, 0, 0, 0);
  --button-color--hover: rgba(0, 0, 0, 0.15);
  --button-color--active: rgba(0, 0, 0, 0.25);
  --button-text-color: rgba(0, 0, 0);
  --button-text-color--disabled: rgba(0, 0, 0, 0.5);

  width: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calendar button {
  color: inherit;
  background-color: transparent;
  border: none;
  border-radius: 0.5rem;
  color: var(--button-text-color);
  font-size: inherit;
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar button:focus-visible,
.calendar button.day-selected:not(:active):not(:disabled) {
  outline: none;
  background-color: var(--button-color--hover);
}
@media (hover: hover) {
  .calendar button:hover:not(:active):not(:disabled) {
    background-color: var(--button-color--hover);
  }
}
.calendar button:active:not(:disabled) {
  background-color: var(--button-color--active);
}
.calendar button:disabled {
  color: var(--button-text-color--disabled);
}

.calendar-header,
.calendar-header > .arrow-switcher,
.days-header,
.week {
  display: flex;
  flex-direction: row;
}

.calendar-header {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}
.calendar-header > .month {
  margin: 0;
}
.calendar-header > .arrow-switcher > button {
  font-size: 1.5rem;
  width: 2rem;
  height: 2rem;
}
.calendar-header > .arrow-switcher > button:not(:last-of-type) {
  margin-right: 0.25rem;
}

.days-header,
.week {
  width: 14rem;
  justify-content: flex-start;
}
.days-header > .day,
.week > .day {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (prefers-color-scheme: dark) {
  .calendar {
    --button-color: rgba(255, 255, 255, 0);
    --button-color--hover: rgba(255, 255, 255, 0.15);
    --button-color--active: rgba(255, 255, 255, 0.25);
    --button-text-color: rgba(255, 255, 255);
    --button-text-color--disabled: rgba(255, 255, 255, 0.5);
  }
}
