:root {
  font-family: 'FigtreeVariable', sans-serif;
}

body,
#root {
  margin: 0;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem 0;
  box-sizing: border-box;
}

.calendar-display {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 28rem;
}
.calendar-display:not(:last-of-type) {
  margin-bottom: 2rem;
}
.calendar-display > .calendar-display-title {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.calendar-display > .selected-date-text {
  margin-bottom: 1rem;
  white-space: pre;
  height: 3rem;
}

@media (min-width: 768px) {
  #root {
    flex-direction: row;
  }
  .calendar-display:not(:last-of-type) {
    margin-bottom: 0;
  }
}
